body {
  background-color: #faf3e1;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
#ID0 {
  margin-top: 20px;
  border-radius: 10px;
  border: 2px solid darkblue;

  background-color: #050e3c;
  color: #f9f9f9;
  font-size: xx-large;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section {
  max-width: 800px;
  margin: 0 auto 40px auto;
  padding: 20px;
  background-color: lightblue;
  border-radius: 10px;
}

#List {
  background-color: #050e3c;
  color: #f9f9f9;
  font-size: large;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#List ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}
#List li a {
  text-decoration: none;
  color: #f9f9f9;
  padding: 12px 25px;
  border-radius: 25px;
  font-weight: bold;
  font-family: sans-serif;
}

.class1 {
  background-color: #050e3c;
  color: #f9f9f9;
  border-radius: 10px;
  font-family: sans-serif;
  font-size: large;
  font-weight: bold;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.class1 h1 {
  background-color: #fff;
  padding: 10px;
  color: #050e3c;
  border: 1px solid #050e3c;
  border-radius: 15px;
  font-size: 50px;
}
#id-skills h3 {
  background-color: #fff;
  padding: 10px;
  color: #050e3c;
  border: 1px solid #050e3c;
  border-radius: 10px;
  font-size: x-large;
}

#id-projects h3 {
  background-color: #fff;
  padding: 10px;
  color: #050e3c;
  border: 1px solid #050e3c;
  border-radius: 10px;
  font-size: x-large;
}
#id-contact h3 {
  background-color: #fff;
  padding: 10px;
  color: #050e3c;
  border: 1px solid #050e3c;
  border-radius: 10px;
  font-size: x-large;
}

#Map {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
